{% extends 'templates/app.twig' %}
{% block content %}
  

<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12 col-md-12">
							<h6 class="text-uppercase">Don’t look further, here is the key</h6>
							<h1>
								We’re Royalty Iquinox			
							</h1>
							<p class="text-white">
								Royalty Iquinox Pvt. Ltd. expertise is in the Construction, Plywood &amp; lamination, Dairy farming, <br> Car rentals, textiles, FMCG, Interior Design &amp; Furnishing. <br> 
							</p>
							<a href="{{path_for('about')}}" class="primary-btn header-btn text-uppercase">Get Started</a>
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start cat Area -->
			<section class="cat-area section-gap" id="feature">
				<div class="container">							
					<div class="row">
						<div class="col-lg-4">	
							<div class="single-cat d-flex flex-column">
								<a href="{{path_for('plywoood.and.lamination')}}"><img src="{{ base_url() }}/img/logo1.png" alt="" title="" /></span></span></a>
								<h4 class="mb-20" style="margin-top: 23px;">Plywood &amp; Lamination</h4>
								<p>
									The plywood and lamination products are used extensively in commercial and domestic settings.
								</p>
							</div>															
						</div>
						<div class="col-lg-4">	
							<div class="single-cat">
								<a href="{{path_for('construction')}}"><img src="{{ base_url() }}/img/logo1.png" alt="" title="" /></span></span></a>
								<h4 class="mt-40 mb-20">Construction</h4>
								<p>
									 In a turnkey scenario, we bring the expertise of all our divisions to focus on every single aspect of a project.
								</p>
							</div>															
						</div>
						<div class="col-lg-4">
							<div class="single-cat">
								<a href="{{path_for('real.estate')}}"><img src="{{ base_url() }}/img/logo1.png" alt="" title="" /></span></span></a>
								<h4 class="mt-40 mb-20">Real Estate</h4>
								<p>
									We specialises in creating modern spaces that embrace the beauty of nature and comforts of urban living.
								</p>
							</div>							
						</div>
						<div class="col-lg-4">
							<div class="single-cat">
								<a href="{{path_for('dairy.farming')}}">
									<img src="{{ base_url() }}/img/logo1.png" alt="" title="" /></span>
									</span>
								</a>
								<h4 class="mt-40 mb-20">Diary farming</h4>
								<p>
									Our dairy farm is equipped with the finest technology for providing the best quality and nutritious milk.
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat">
								<a href="{{path_for('car.rentals')}}">
									<img src="{{ base_url() }}/img/logo1.png" alt="" title="" /></span>
									</span>
								</a>
								<h4 class="mt-40 mb-20">Car Rentals</h4>
								<p>
									We provide the best rental prices on luxury, economy, and family rental cars.
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat">
								<a href="{{path_for('land.development')}}">
									<img src="{{ base_url() }}/img/logo1.png" alt="" title="" /></span>
									</span>
								</a>
								<h4 class="mt-40 mb-20">Land Development</h4>
								<p>
									We aim to develop and provide beautiful &amp; tranquil spaces which can serve the needs of our customers and offer sustainable areas. 
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat">
								<a href="{{path_for('textiles')}}">
									<img src="{{ base_url() }}/img/logo1.png" alt="" title="" /></span>
									</span>
								</a>
								<h4 class="mt-40 mb-20">Textiles</h4>
								<p>
									We are engaged in manufacturing of textiles and garments with state-of-the-art infrastructure. 
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat">
								<a href="{{path_for('fmcg')}}">
									<img src="{{ base_url() }}/img/logo1.png" alt="" title="" /></span>
									</span>
								</a>
								<h4 class="mt-40 mb-20">FMCG</h4>
								<p>
									Our constant endeavor is to provide high quality and innovative products to consumers.
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat">
								<a href="{{path_for('interior.design')}}">
									<img src="{{ base_url() }}/img/logo1.png" alt="" title="" /></span>
									</span>
								</a>
								<h4 class="mt-40 mb-20">Interior Design &amp; Furnishing</h4>
								<p>
									Whether you need to furnish your entire home or just redecorate a room, Royalty Iquinox Furnishings offers professional design services to assist you.
								</p>
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End cat Area -->		
			

			<!-- Start home-about Area -->
			<section class="home-about-area section-gap" id="about">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8 col-md-12 home-about-left">
							<h6>Brand new idea to blow your mind from Royalty Iquinox</h6>
							<h1>
								We’ve made a life <br>
								that will change you
							</h1>
							<p class="sub">We are here to listen from you deliver exellence</p>
							<p class="pb-20">
								For Royalty Iquinox Corporate Social Responsibility is the continuing commitment by business to behave ethically and contribute to economic development while improving the quality of life of the workforce and that of the local community and society at large.

Royalty Iquinox believes that a Company is a family, a group of Professionals working together in harmony at all levels and grades and so it's the top Priority of the Company to take the greatest care of its most valuable asset.
							</p>
							<a class="primary-btn" href="#">Get Started Now</a>
						</div>
						<div class="col-lg-4 col-md-12 home-about-right relative">
							<form class="form-wrap" action="#">
								<h4 class="text-white pb-20">Request a Service</h4>
								<div class="form-select" id="service-select">
									<select>
										<option value="1">Plywood &amp; Lamination</option>
										<option value="2">Real Estate</option>
										<option value="3">Textiles</option>
										<option value="4">Dairy Farming</option>
										<option value="5">Car Rentals</option>
										<option value="5">Construction</option>
										<option value="5">Land Development</option>
										<option value="5">FMCG</option>
									</select>
								</div>								
								<input type="text" class="form-control" placeholder="name">
								<input type="phone" class="form-control" placeholder="Phone Number">
								<input type="email" class="form-control" placeholder="Email Address">
								<textarea name="message" id="" cols="30" rows="5" placeholder="Message" class="form-control"></textarea>
								<button class="primary-btn">Request Service</button>
							</form>
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->
					

			
			

			{# <!-- Start faq Area -->
			<section class="faq-area section-gap relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-3 col-md-6">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5><span class="counter">2</span>K+</h5>
								<p>
									Investors
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5><span class="counter">5.5</span>K</h5>
								<p>
									Total Employees
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5 class="counter">959</h5>
								<p>
									Happy Clients
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5 class="counter">367</h5>
								<p>
									Ongoing projects
								</p>
							</div>
						</div>																		
					</div>
				</div>	
			</section>
			<!-- End faq Area --> #}


			{# <!-- Start project Area -->
			<section class="project-area section-gap" id="project">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-8 pb-30 header-text text-center">
							<h1 class="mb-10">Lorem Ipsum</h1>
							<p>
								Who are in extremely love with eco friendly system..
							</p>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<a href="img/p1.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/p1.jpg" alt="">
							</a>	
						</div>
						<div class="col-lg-4 col-md-4">
							<a href="img/p2.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/p2.jpg" alt="">
							</a>	
						</div>						
						<div class="col-lg-6 col-md-6">
							<a href="img/p3.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/p3.jpg" alt="">
							</a>	
						</div>
						<div class="col-lg-6 col-md-6">
							<a href="img/p4.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/p4.jpg" alt="">
							</a>	
						</div>		
					</div>
				</div>	
			</section>
			<!-- End project Area --> #}
						
			<!-- Start feedback Area -->
			<section class="feedback-area section-gap relative" id="feedback">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-12 pb-30 header-text text-center">
							<h1 class="mb-10 text-white">Enjoy our Client’s Feedback</h1>
							<p class="text-white">
								Who are in extremely love with eco friendly system..
							</p>
						</div>
					</div>			
					<div class="row feedback-contents justify-content-center align-items-center">
						<div class="col-lg-6 feedback-left relative d-flex justify-content-center align-items-center">
							<div class="overlay overlay-bg"></div>
							<a class="play-btn" href=""><img class="img-fluid" src="img/play-btn.png" alt=""></a>
						</div>
						<div class="col-lg-6 feedback-right">
							<div class="active-review-carusel">
								<div class="single-feedback-carusel">
									<div class="title d-flex flex-row">
										<h4 class="text-white pb-10">Fannie Rowe</h4>
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>								
										</div>										
									</div>
									<p class="text-white">
										Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
									</p>
								</div>
								<div class="single-feedback-carusel">
									<div class="title d-flex flex-row">
										<h4 class="text-white pb-10">Fannie Rowe</h4>
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>								
										</div>										
									</div>
									<p class="text-white">
										Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
									</p>
								</div>
								<div class="single-feedback-carusel">
									<div class="title d-flex flex-row">
										<h4 class="text-white pb-10">Fannie Rowe</h4>
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked	"></span>								
										</div>										
									</div>
									<p class="text-white">
										Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
									</p>
								</div>																
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End feedback Area -->


			<!-- Start service Area -->
			<section class="service-area section-gap" id="service">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-12 pb-30 header-text text-center">
							<h1 class="mb-10">Our Capturing Market Sectors</h1>
							<p>
								Who are upcoming future leaders in..
							</p>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-service">
								<div class="thumb">
									<img src="img/s1.jpg" alt="">									
								</div>
								<h4>Constructions</h4>
								<p>
									In a turnkey scenario, we bring the expertise of all our divisions to focus on every single aspect of a project.
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-service">
								<div class="thumb">
									<img src="img/s2.jpg" alt="">									
								</div>
								<h4>Real Estate</h4>
								<p>
									We specialises in creating modern spaces that embrace the beauty of nature and comforts of urban living.
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-service">
								<div class="thumb">
									<img src="img/s3.jpg" alt="">									
								</div>
								<h4>Textiles</h4>
								<p>
									We are engaged in manufacturing of textiles and garments with state-of-the-art infrastructure.
								</p>
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End service Area -->
			
	
			{# <!-- Start blog Area -->
			<section class="blog-area section-gap" id="blog">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-12 pb-30 header-text">
							<h1>Latest posts from our Blog</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> labore  et dolore magna aliqua.
							</p>
						</div>
					</div>
					<div class="row">	
						<div class="single-blog col-lg-4 col-md-4">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="img/b1.jpg" alt="">	
							</div>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
								<div>
									<img class="img-fluid" src="img/user.png" alt="">
									<a href="#"><span>Mark Wiens</span></a>
								</div>
								<div class="meta">
									13th Dec
									<span class="lnr lnr-heart"></span> 15
									<span class="lnr lnr-bubble"></span> 04
								</div>
							</div>							
							<a href="#">
								<h4>Lorem Ipsum</h4>
							</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.
							</p>
						</div>
						<div class="single-blog col-lg-4 col-md-4">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="img/b2.jpg" alt="">	
							</div>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
								<div>
									<img class="img-fluid" src="img/user.png" alt="">
									<a href="#"><span>Mark Wiens</span></a>
								</div>
								<div class="meta">
									13th Dec
									<span class="lnr lnr-heart"></span> 15
									<span class="lnr lnr-bubble"></span> 04
								</div>
							</div>							
							<a href="#">
								<h4>Lorem Ipsum</h4>
							</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.
							</p>
						</div>
						<div class="single-blog col-lg-4 col-md-4">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="img/b3.jpg" alt="">	
							</div>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
								<div>
									<img class="img-fluid" src="img/user.png" alt="">
									<a href="#"><span>Mark Wiens</span></a>
								</div>
								<div class="meta">
									13th Dec
									<span class="lnr lnr-heart"></span> 15
									<span class="lnr lnr-bubble"></span> 04
								</div>
							</div>							
							<a href="#">
								<h4>Lorem Ipsum</h4>
							</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.
							</p>
						</div>												
											
												
					</div>
				</div>	
			</section>
			<!-- end blog Area -->	 #}

{% endblock %}